storePath: "./store" # Path to store data locally
celestia:
  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9 # Celestia light node token
  endpoint: http://127.0.0.1:26658 # Celestia light node endpoint
  namespace: lightlink # Celestia blob namespace
  tendermint_rpc: http://full.consensus.mocha-4.celestia-mocha.com:26657 # Tendermint RPC endpoint
  grpc: full.consensus.mocha-4.celestia-mocha.com:9090 # Celestia full node endpoint
  gasPrice: 0.003 # Gas price in TIA
  retries: 0 # Number of retries when a submitBlob request fails
ethereum:
  httpEndpoint: https://ethereum-sepolia.publicnode.com # Ethereum HTTP endpoint
  wsEndpoint: wss://ethereum-sepolia.publicnode.com # Ethereum WS endpoint
  canonicalStateChain: '0x18d00cfb6c7c78CAb803A225F4EE7F6307f22f4C' # Canonical state chain contract address
  daOracle: '0x3a5cbB6EF4756DA0b3f6DAE7aB6430fD8c46d247' # DA oracle contract address
  challenge: '0x93c4D996C7808682cfa6Ae6D7a2b0A69eEcb5c0C' # Challenge contract address
  gasPriceIncreasePercent: 10 # Gas price increase percent e.g 10% increase from current gas price
lightlink:
  endpoint: https://replicator.pegasus.lightlink.io/rpc/v1 # Lightlink endpoint
  delay: 500 # Delay in ms between each request
rollup:
  bundleSize: 10 # Number of transactions to bundle into a single L1 header
  l1pollDelay: 30000 # Delay in ms between each L1 poll
  l2pollDelay: 10000 # Delay in ms between each L2 poll
  storeCelestiaPointers: true # Store Celestia pointers in local storage
  storeHeaders: true # Store L1 headers in L2 headers in local storage
defender:
  workerDelay: 60000 # Delay in ms between each Defender worker run